/WebParser/obj/Debug/WebParser.csproj.FileListAbsolute.txt
/WebParser/obj/Release/WebParser.csproj.FileListAbsolute.txt
/WebParserTester/WebParserTester/bin/Release/MyImage.png
/WebParserTester/WebParserTester/bin/Release/WebParserTester.vshost.exe.manifest
/WebParserTester/WebParserTester/obj/x86/Release/WebParserTester.Properties.Resources.resources
/WebParserTester/WebParserTester/obj/x86/Release/WebParserTester.csproj.FileListAbsolute.txt
/WebParserTester/WebParserTester/obj/x86/Release/WebParserTester.frmWebParserTester.resources
